<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.accounting.vo.AdminVO" alias="AdminVO"/>
		<typeAlias type="com.accounting.vo.AskVO" alias="AskVO"/>
		<typeAlias type="com.accounting.vo.CartVO" alias="CartVO"/>
		<typeAlias type="com.accounting.vo.CsFileVO" alias="CsFileVO"/>
		<typeAlias type="com.accounting.vo.CsVO" alias="CsVO"/>
		<typeAlias type="com.accounting.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.accounting.vo.OrdersVO" alias="OrdersVO"/>
		<typeAlias type="com.accounting.vo.PreOrderVO" alias="PreOrderVO"/>
		<typeAlias type="com.accounting.vo.ProductQnaVO" alias="ProductQnaVO"/>
		<typeAlias type="com.accounting.vo.ProductReviewVO" alias="ProductReviewVO"/>
		<typeAlias type="com.accounting.vo.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.accounting.vo.ProductWishListVO" alias="ProductWishListVO"/>
		<typeAlias type="com.accounting.vo.RecommandVO" alias="RecommandVO"/>
	</typeAliases>
	
	<!-- MyBatis mapper 파일이 추가될 때마다 지정해줘야 . -->
    <mappers>
    	
    </mappers>

</configuration>